[Unit]
Description=Run Display control Python script at startup
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/jpremor/fpos_mqtt_ha/fpos_mqtt_ha.py
WorkingDirectory=/home/jpremor/fpos_mqtt_ha
Restart=always
User=jpremor

[Install]
WantedBy=multi-user.target
